---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/01b81b67f1678115/forecast10day/q/80203.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 11 Apr 2017 02:44:21 GMT
      X-Creationtime:
      - '0.025'
    body:
      encoding: ASCII-8BIT
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast10day\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"7:24 PM MDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/clear.gif\",\n\t\t\"title\":\"Monday\",\n\t\t\"fcttext\":\"A
        few clouds. Lows overnight in the mid 30s.\",\n\t\t\"fcttext_metric\":\"Partly
        cloudy. Low 1C.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_clear\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_clear.gif\",\n\t\t\"title\":\"Monday
        Night\",\n\t\t\"fcttext\":\"Mainly clear. Low 34F. Winds W at 5 to 10 mph.\",\n\t\t\"fcttext_metric\":\"Some
        clouds this evening will give way to mainly clear skies overnight. Low 1C.
        Winds W at 10 to 15 km/h.\",\n\t\t\"pop\":\"0\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n\t\t\"icon\":\"clear\",\n\t\t\"icon_url\"[...]
